venv/
runs/detect/train2/
runs/detect/train3/
runs/detect/train4/
runs/detect/train5/
runs/detect/train6/
runs/detect/train7/
runs/detect/train8/
runs/detect/train9/
runs/detect/train10/
runs/detect/train/
runs/detect/train11/
runs/detect/train12/
runs/detect/train13/
runs/detect/train14/
runs/detect/train15/
runs/detect/train16/
runs/detect/train17/
runs/detect/train18/
runs/detect/train19/
runs/detect/val/
runs/detect/val2/

datasets/


testdatasets/

runs/
nn1/
nn2/
donedatasets